@import url(http://fonts.googleapis.com/css?family=Just+Another+Hand);
@import url(http://fonts.googleapis.com/css?family=Ubuntu);
@import url(http://fonts.googleapis.com/css?family=Montserrat);
@import url(http://fonts.googleapis.com/css?family=Chango);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,300);
@import url(http://fonts.googleapis.com/css?family=Lobster);
/* line 2, ../sass/neat/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 11, ../sass/styles.scss */
body {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right top;
}
/* line 25, ../sass/styles.scss */
body #banner {
  margin-left: -10px;
}
/* line 30, ../sass/styles.scss */
body .jumbotron {
  backface-visibility: visible;
  visibility: hidden;
  margin-left: -70px;
  margin-top: -40px;
}
/* line 36, ../sass/styles.scss */
body .jumbotron .jumbo-content {
  visibility: visible;
}
/* line 39, ../sass/styles.scss */
body .jumbotron .jumbo-content h1 {
  font-family: 'Lobster', cursive;
  font-size: 72px;
}
/* line 44, ../sass/styles.scss */
body .jumbotron .jumbo-content p.jumbo-desc {
  margin-left: 10px;
  margin-top: 20px;
}
/* line 49, ../sass/styles.scss */
body .jumbotron .jumbo-content a {
  margin-top: 8px;
  font-weight: bold;
  color: white;
  font-family: 'Montserrat', sans-serif;
  border: 1px solid #0067a4;
  border-bottom: 1px solid #00577b;
  border-radius: 5px;
  box-shadow: inset 0 1px 0 0 #36f3ff;
  color: #333333;
  display: inline-block;
  font-size: inherit;
  font-weight: bold;
  background-color: #11D6F5;
  background-image: -webkit-linear-gradient(top, #11D6F5 0%, #00a4d4 50%, #008bc5 50%, #0090c7 100%);
  background-image: linear-gradient(to bottom,#11D6F5 0%, #00a4d4 50%, #008bc5 50%, #0090c7 100%);
  padding: 7px 18px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 -1px 1px #1be0ff;
}
/* line 204, ../sass/bourbon/addons/_button.scss */
body .jumbotron .jumbo-content a:hover:not(:disabled) {
  cursor: pointer;
  background-color: #04c7e3;
  background-image: -webkit-linear-gradient(top, #04c7e3 0%, #0098c2 50%, #0081b3 50%, #0086b6 100%);
  background-image: linear-gradient(to bottom,#04c7e3 0%, #0098c2 50%, #0081b3 50%, #0086b6 100%);
}
/* line 224, ../sass/bourbon/addons/_button.scss */
body .jumbotron .jumbo-content a:active:not(:disabled), body .jumbotron .jumbo-content a:focus:not(:disabled) {
  box-shadow: inset 0 0 20px 0 #00627b;
}
/* line 51, ../sass/bourbon/addons/_button.scss */
body .jumbotron .jumbo-content a:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
/* line 61, ../sass/styles.scss */
body h1 {
  font-family: 'Lobster', cursive;
  font-size: 72px;
}
/* line 66, ../sass/styles.scss */
body h3 {
  font-family: 'Lobster', cursive;
}
/* line 70, ../sass/styles.scss */
body a:hover {
  text-decoration: none;
}
/* line 74, ../sass/styles.scss */
body #features {
  margin-top: -50px;
}
/* line 77, ../sass/styles.scss */
body #features p {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  font-size: 20px;
  margin-top: 8px;
}
/* line 83, ../sass/styles.scss */
body #features p a {
  font-family: 'Ubuntu', sans-serif;
  border: 1px solid #7e0007;
  border-bottom: 1px solid #750000;
  border-radius: 5px;
  box-shadow: inset 0 1px 0 0 #ff7564;
  color: white;
  display: inline-block;
  font-size: inherit;
  font-weight: bold;
  background-color: #f35858;
  background-image: -webkit-linear-gradient(top, #f35858 0%, #bb2637 50%, #9d0d28 50%, #a4122a 100%);
  background-image: linear-gradient(to bottom,#f35858 0%, #bb2637 50%, #9d0d28 50%, #a4122a 100%);
  padding: 7px 18px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 -1px 1px #670000;
  margin-top: 25px;
}
/* line 204, ../sass/bourbon/addons/_button.scss */
body #features p a:hover:not(:disabled) {
  cursor: pointer;
  background-color: #e64946;
  background-image: -webkit-linear-gradient(top, #e64946 0%, #b11a25 50%, #960316 50%, #9d0819 100%);
  background-image: linear-gradient(to bottom,#e64946 0%, #b11a25 50%, #960316 50%, #9d0819 100%);
}
/* line 224, ../sass/bourbon/addons/_button.scss */
body #features p a:active:not(:disabled), body #features p a:focus:not(:disabled) {
  box-shadow: inset 0 0 20px 0 #840000;
}
/* line 51, ../sass/bourbon/addons/_button.scss */
body #features p a:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
/* line 91, ../sass/styles.scss */
body #features #live a {
  margin-top: 0px;
}
